@import "tailwindcss";

body {
  background-color: #4D9B3A;
}

@media (max-height: 530px) {
  .text-content {
    display: none;
  }
}

@media (min-width: 768px) and (max-height: 750px) {
  .text-content {
    display: none;
  }
}
